POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_passw
POSTGRES_DB=your_postgres_db
DATABASE_URL="postgres://your_postgres_user:your_postgres_passw@127.0.0.1:POSTGRES_EXT_PORT/your_postgres_db"
OLLAMA_HOST=0.0.0.0 #default
NODE_ENV=your_node_env
OLLAMA_EXT_PORT=11434 #default
OLLAMA_INT_PORT=11434 #default
POSTGRES_EXT_PORT=5432 #default
POSTGRES_INT_PORT=5432 #default
OLLAMA_EXT_PORT=11434 #default
OLLAMA_INT_PORT=11434 #default
BACKEND_EXT_PORT=your_backend_ext_port # def - 5000, for docker cont. 
BACKEND_INT_PORT=your_backend_int_port # def - 5000, for docker cont. 
OLLAMA_API_URL=http://service_name:11434 #def - service_name=ollama
