PORT=your_backend_port #default - 5000
COOKIE_KEY=your_cookie_key
CLIENT_URL=http://localhost:CLIENT_PORT #default - working in the cont, CLIENT_PORT=3000, has to be initiated here.
API_URL=http://localhost:PORT
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
SMTP_PORT=your_smtp_port
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_passw
SMTP_HOST=your_smtp_host
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_passw
POSTGRES_DB=your_postgres_db
DATABASE_URL="postgres://your_postgres_user:your_postgres_passw@127.0.0.1:POSTGRES_EXT_PORT/your_postgres_db"
HOST=your_host # def - 0.0.0.0, working in the cont.
ollamaModel=your_ollama_model # def - llama3
OLLAMA_API_URL=http://service_name:11434 #def - service_name=ollama
API_VERSION=v1 #def v1